.card {
  width: 150px;
  height: 150px;
  background: url("https://loremflickr.com/150/150") center / cover no-repeat;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}